body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#title-container {
  z-index: 2;
  position: absolute;
  background: rgba(0,0,0, 0.75);
  top: 20px;
  left: 20px;
  padding: 20px;
  pointer-events: none;
}

#title {
  width: 100%;
  color: rgb(227, 255, 71);
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  text-align: left;
}

.course-link a {
  font-size: 0.75em;
  color: rgb(227, 89, 255);
  text-transform: initial;
  text-decoration: none;
  pointer-events: auto;
  cursor: initial;
}
